@import "tailwindcss";

@config "../tailwind.config.js";

#header {
  margin: 0 auto;
  max-width: 1920px;
}
#page {
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #ecedee;
  height: fit-content;
  border-radius: 5px;
  min-height: 92vh;
}
#home-page {
  margin: 0 auto;
}
body {
  padding-left: 1rem;
  padding-right: 1rem;
}
body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.not_found-product {
  text-align: center;

  h1 {
    font-size: 25px;
    font-weight: 700;
  }
  p {
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
  }
  .go_home-link {
    padding-top: 20px;
    a {
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
      background: #006fee;
      color: #ffffff;
      font-weight: 700;
    }
    a:hover {
      background: #0e8aaa;
    }
  }
}
