/* masonry styles */
.unsplash_list {
  display: flex;
  margin-left: -24px; /* відступ компенсує gutter */
  width: auto;
  padding-top: 20px;
}

.unsplash_column {
  padding-left: 24px; /* gutter */
  background-clip: padding-box;
}

.unsplash_column > li {
  margin-bottom: 24px;
  list-style: none;
}
// ----------------------------------
.layout_hover-image {
  position: relative;
  overflow: hidden;
}

.layout_hover-image img {
  transition: 0.3s ease;
}

.layout_hover-image:hover img {
  filter: brightness(70%);
}

/* Overlay */
.layout_hover-image .overlay {
  position: absolute;
  inset: 0; /* top, right, bottom, left = 0 */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
}

.layout_hover-image:hover .overlay {
  opacity: 1;
}

/* Кнопка */

.download-btn {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  background: #f6f6f6fa;
  border-radius: 5px;
  z-index: 9999;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
  }
}
